@import "tailwindcss";
@tailwind utilities;


@theme{
  --font-primary: 'League Spartan', sans-serif;
  --font-secondary: 'Montserrat', sans-serif; 
}
/* body {
  font-family: 'League Spartan', sans-serif;
} */